.jui-layer{
		position: relative;
		z-index: 19891014;
		*{
			box-sizing: border-box;
			-webkit-box-sizing:border-box;
			font-size:14px;
			line-height:1.5em;
		}
		.jui-layer-mask{
			position: fixed;
			top:0;
			left:0;
			width:100%;
			height: 100%;
			background-color:rgba(0,0,0,0.3);
			pointer-events: auto;		
		}
		.jui-layer-content{
			position: fixed;
			top:0;
			left:0;
			width:100%;
			height: 100%;
			display: table;
			pointer-events: none;
		}
		/* 中间显示内容 */
		.jui-layer-middle{
			display: table-cell;
			text-align: center;
    		vertical-align: middle;
    		/* 信息层 */
    		.jui-layer-msg{
	    		background-color: #fff;
				color:#333;
				max-width: 80%;
				width: 210px;
				display: inline-table;
				border-radius: 4px;
				padding:10px;
				pointer-events: auto;
    		}
    		/* 提示层 */
			.jui-layer-alert{
				background-color: #fff;
				color:#333;
				max-width: 80%;
				width: 180px;
				display: inline-table;
				border-radius: 4px;
				pointer-events: auto;
				.alert-text{
					border-bottom:1px solid #cccccc;
					display: block;
					padding:10px;
				}
				.alert-button{
					text-align:center;
					width:100%;
					padding:5px 0;
					color: #38a8d7;
				}
			}
			/* 确认框 */
				.jui-layer-confirm{
					background-color: #fff;
					color:#333;
					max-width: 80%;
					width: 180px;
					display: inline-table;
					border-radius: 4px;
					pointer-events: auto;
					.confirm-content{
						border-bottom:1px solid #ccc;
						display: block;
						padding:10px;
					}
					.confirm-nav{
						color:#333;					
						overflow:hidden;
						a{
							padding:5px 0;
							display: block;
							float:left;
							width:50%;
							text-align:center;
							&:nth-of-type(2){
								color:#38a8d7;
								border-left:1px solid #ccc;
							};
						}
					}
				}
		}
		/* 加载层 */
		.jui-layer-loading{
	      position: relative;
	      height:100%;
	      width:100%;
	      top:0;
	      left:0;
		    @-webkit-keyframes ball-spin-fade-loader {
			  50% {
			    opacity: 0.3;
			    -webkit-transform: scale(0.4);
			            transform: scale(0.4); }

			  100% {
			    opacity: 1;
			    -webkit-transform: scale(1);
			            transform: scale(1); } }

			@keyframes ball-spin-fade-loader {
			  50% {
			    opacity: 0.3;
			    -webkit-transform: scale(0.4);
			            transform: scale(0.4); }

			  100% {
			    opacity: 1;
			    -webkit-transform: scale(1);
			            transform: scale(1); } }
	      	.icon-1{
	      	  position:absolute;
			  top:50%;
	 		  left:50%;
	 		  margin-top:-25px;
	 		  margin-left:-10px;
	      	}
	       .icon-1 > div:nth-child(1) {	
		    top: 25px;
		    left: 0;
		    -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
		            animation: ball-spin-fade-loader 1s 0s infinite linear; }
		  .icon-1 > div:nth-child(2) {
		    top: 17.04545px;
		    left: 17.04545px;
		    -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
		            animation: ball-spin-fade-loader 1s 0.12s infinite linear; }
		  .icon-1 > div:nth-child(3) {
		    top: 0;
		    left: 25px;
		    -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
		            animation: ball-spin-fade-loader 1s 0.24s infinite linear; }
		  .icon-1 > div:nth-child(4) {
		    top: -17.04545px;
		    left: 17.04545px;
		    -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
		            animation: ball-spin-fade-loader 1s 0.36s infinite linear; }
		  .icon-1 > div:nth-child(5) {
		    top: -25px;
		    left: 0;
		    -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
		            animation: ball-spin-fade-loader 1s 0.48s infinite linear; }
		  .icon-1 > div:nth-child(6) {
		    top: -17.04545px;
		    left: -17.04545px;
		    -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
		            animation: ball-spin-fade-loader 1s 0.6s infinite linear; }
		  .icon-1 > div:nth-child(7) {
		    top: 0;
		    left: -25px;
		    -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
		            animation: ball-spin-fade-loader 1s 0.72s infinite linear; }
		  .icon-1 > div:nth-child(8) {
		    top: 17.04545px;
		    left: -17.04545px;
		    -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
		            animation: ball-spin-fade-loader 1s 0.84s infinite linear; }
		  .icon-1 > div {
		    background-color: #fff;
		    width: 15px;
		    height: 15px;
		    border-radius: 100%;
		    margin: 2px;
		    -webkit-animation-fill-mode: both;
		            animation-fill-mode: both;
		    position: absolute; }

		    @-webkit-keyframes line-scale-pulse-out-rapid {
			  0% {
			    -webkit-transform: scaley(1);
			            transform: scaley(1); }

			  80% {
			    -webkit-transform: scaley(0.3);
			            transform: scaley(0.3); }

			  90% {
			    -webkit-transform: scaley(1);
			            transform: scaley(1); } }

			@keyframes line-scale-pulse-out-rapid {
			  0% {
			    -webkit-transform: scaley(1);
			            transform: scaley(1); }

			  80% {
			    -webkit-transform: scaley(0.3);
			            transform: scaley(0.3); }

			  90% {
			    -webkit-transform: scaley(1);
			            transform: scaley(1); } }
			
			.icon-2{
	      	  position:absolute;
			  top:50%;
	 		  left:50%;
	 		  margin-left: -34px;
	 		  margin-top:-22px;
	      	}
			.icon-2 > div {
			  background-color: #fff;
			  width: 4px;
			  height: 35px;
			  border-radius: 2px;
			  margin: 5px;
			  -webkit-animation-fill-mode: both;
			          animation-fill-mode: both;
			  display: inline-block;
			  -webkit-animation: line-scale-pulse-out-rapid 0.9s 0s infinite cubic-bezier(.11, .49, .38, .78);
			          animation: line-scale-pulse-out-rapid 0.9s 0s infinite cubic-bezier(.11, .49, .38, .78); 
			 }
			.icon-2 > div:nth-child(2), .icon-2 > div:nth-child(4) {
			    -webkit-animation-delay: 0.25s !important;
			            animation-delay: 0.25s !important; }
			.icon-2 > div:nth-child(1), .icon-2 > div:nth-child(5) {
			    -webkit-animation-delay: 0.5s !important;
			            animation-delay: 0.5s !important; }

			@-webkit-keyframes rotate_pacman_half_up {
			  0% {
			    -webkit-transform: rotate(270deg);
			            transform: rotate(270deg); }

			  50% {
			    -webkit-transform: rotate(360deg);
			            transform: rotate(360deg); }

			  100% {
			    -webkit-transform: rotate(270deg);
			            transform: rotate(270deg); } }

			@keyframes rotate_pacman_half_up {
			  0% {
			    -webkit-transform: rotate(270deg);
			            transform: rotate(270deg); }

			  50% {
			    -webkit-transform: rotate(360deg);
			            transform: rotate(360deg); }

			  100% {
			    -webkit-transform: rotate(270deg);
			            transform: rotate(270deg); } }

			@-webkit-keyframes rotate_pacman_half_down {
			  0% {
			    -webkit-transform: rotate(90deg);
			            transform: rotate(90deg); }

			  50% {
			    -webkit-transform: rotate(0deg);
			            transform: rotate(0deg); }

			  100% {
			    -webkit-transform: rotate(90deg);
			            transform: rotate(90deg); } }

			@keyframes rotate_pacman_half_down {
			  0% {
			    -webkit-transform: rotate(90deg);
			            transform: rotate(90deg); }

			  50% {
			    -webkit-transform: rotate(0deg);
			            transform: rotate(0deg); }

			  100% {
			    -webkit-transform: rotate(90deg);
			            transform: rotate(90deg); } }

			@-webkit-keyframes pacman-balls {
			  75% {
			    opacity: 0.7; }

			  100% {
			    -webkit-transform: translate(-100px, -6.25px);
			            transform: translate(-100px, -6.25px); } }

			@keyframes pacman-balls {
			  75% {
			    opacity: 0.7; }

			  100% {
			    -webkit-transform: translate(-100px, -6.25px);
			            transform: translate(-100px, -6.25px); } }
			.icon-3{
	      	  position:absolute;
			  top:50%;
	 		  left:50%;
	 		  margin-left: -34px;
	 		  margin-top:-25px;
	      	}

			.icon-3 > div:nth-child(2) {
			    -webkit-animation: pacman-balls 1s 0s infinite linear;
			            animation: pacman-balls 1s 0s infinite linear; }
			.icon-3 > div:nth-child(3) {
			    -webkit-animation: pacman-balls 1s 0.33s infinite linear;
			            animation: pacman-balls 1s 0.33s infinite linear; }
			.icon-3 > div:nth-child(4) {
			    -webkit-animation: pacman-balls 1s 0.66s infinite linear;
			            animation: pacman-balls 1s 0.66s infinite linear; }
			.icon-3 > div:nth-child(5) {
			    -webkit-animation: pacman-balls 1s 0.99s infinite linear;
			            animation: pacman-balls 1s 0.99s infinite linear; }
			.icon-3 > div:first-of-type {
			    width: 0px;
			    height: 0px;
			    border-right: 25px solid transparent;
			    border-top: 25px solid #fff;
			    border-left: 25px solid #fff;
			    border-bottom: 25px solid #fff;
			    border-radius: 25px;
			    -webkit-animation: rotate_pacman_half_up 0.5s 0s infinite;
			            animation: rotate_pacman_half_up 0.5s 0s infinite; }
			.icon-3 > div:nth-child(2) {
			    width: 0px;
			    height: 0px;
			    border-right: 25px solid transparent;
			    border-top: 25px solid #fff;
			    border-left: 25px solid #fff;
			    border-bottom: 25px solid #fff;
			    border-radius: 25px;
			    -webkit-animation: rotate_pacman_half_down 0.5s 0s infinite;
			            animation: rotate_pacman_half_down 0.5s 0s infinite;
			    margin-top: -50px; }
			.icon-3 > div:nth-child(3), .icon-3 > div:nth-child(4), .icon-3 > div:nth-child(5), .icon-3 > div:nth-child(6) {
			    background-color: #fff;
			    width: 15px;
			    height: 15px;
			    border-radius: 100%;
			    margin: 2px;
			    width: 10px;
			    height: 10px;
			    position: absolute;
			    -webkit-transform: translate(0, -6.25px);
			        -ms-transform: translate(0, -6.25px);
			            transform: translate(0, -6.25px);
			    top: 25px;
			    left: 100px; }
		}
}