.Jui-picker{
	border:1px solid #ccc;
	background-color:#f1f1f1;
	border-radius:4px;
	text-align: center;
	line-height:40px;
	min-height:40px;
	font-size:14px;
	color:#333;
	.Jui-picker-value{
	
	}
}
.Jui-picker-choose{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	.Jui-picker-mask{
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.5);
	}
	.Jui-picker-content{
		position: absolute;
		bottom:0;
		left:0;
		width:100%;
		background-color:#fff;
	}
	.Jui-picker-menu{
		display:-webkit-flex;
		display:-webkit-box;
		display:flex;
		position: relative;
		a{
			flex:1;
			-webkit-flex:1;
			text-align:center;
			line-height:40px;
			height:40px;
			color:#333;
			&.active{
				color:#419EFE;
			}
		}
		&:after{
			content: '\20';
			height:1px;
			width:100%;
			position: absolute;
			background-color: #ccc;
			bottom:0;
			left:0;
			-webkit-transform-origin: 50% 100%;
    		transform-origin: 50% 100%;
		}
	}
	.Jui-picker-select{
		height:200px;
		position: relative;
		overflow: hidden;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		.Jui-picker-highlight{
			position: absolute;
			top:80px;
			left:0;
			height:40px;
			width:100%;
			pointer-events: none;
			&:before{
				content: '\20';
				height:1px;
				width:100%;
				position: absolute;
				background-color: #ccc;
				top:0;
				left:0;
				-webkit-transform-origin: 50% 100%;
	    		transform-origin: 50% 100%;
			}
			&:after{
				content: '\20';
				height:1px;
				width:100%;
				position: absolute;
				background-color: #ccc;
				bottom:0;
				left:0;
				-webkit-transform-origin: 50% 100%;
	    		transform-origin: 50% 100%;
			}
		}
	}
	.Jui-picker-slot{
	flex:1;
	-webkit-flex:1;
	pointer-events: auto;
	.Jui-picker-options{
		&.duration{
		transition-duration: 200ms;
		}
		a{
		display: block;
		text-align:center;
		line-height:40px;
		height:40px;
		color:#999;
		&.selected{
			color:#333;
			}
		}
	}
	}
}