.Jui-swipe-container{
	width:100%;
	overflow:hidden;
	position: relative;
	.Jui-swipe-wrapper{
	display: flex;
	display: -webkit-flex;
	display: -webkit-box;
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
		.Jui-swipe-slide{
			flex:1;
			-webkit-flex:1;
   			box-flex: 1;
   			-webkit-box-flex: 1;
			display: block;
			img{
				display: block;
				width:100%;
			}
		}
	}
	.Jui-swipe-pagination{
		position: absolute;
		width:100%;
		text-align: center;
		z-index:90;
		left:0;
		bottom:5%;
		a{
			display: inline-block;
			width:10px;
			height:10px;
			border-radius: 10px;
			margin:0 5px;
			background-color: #fff;
			&.active{
				background-color:#38a8d7;
			}
		}
	}
}